# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.idea
.env
venv
myenv
venv_weaviate
model_cache
__pycache__
#Dataset and processed files
DocxDataset
EmbeddedDocuments
ChunkedDocuments
KaggleResults
results.json

#testing files
ChunkerTesting
testing_figures
data
ChromaServer